$pokeblue: #3a5da8;
$poketwo: #5c9edd;

$theme-colors: (
  "primary": rgb(202, 45, 45),
  "secondary": rgb(129, 129, 129),
  "success": rgb(44, 221, 124),
  "danger": rgb(231, 78, 78),
  "info": rgb(63, 206, 216),
  "warning": rgb(224, 210, 79),
);

$custom-colors: (
  "pokeblue": $pokeblue,

  "typedragon": #6F35FC,
  "typefight": #C22E28,
  "typeghost": #735797,
  "typepoison": #A33EA1,
  "typebug": #A6B91A,
  "typeground": #E2BF65,
  "typewater": #6390F0,
  "typegrass": #7AC74C,
  "typefire": #EE8130,
  "typeice": #96D9D6,
  "typerock": #B6A136,
  "typenormal": #A8A77A,
  "typeflying": #A98FF3,
  "typesteel": #B7B7CE,
  "typedark": #705746,
  "typepsychic": #F95587,
  "typeelectric": #F7D02C,
  "typefairy": #D685AD,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$min-contrast-ratio: 1.55 !default;
