<div class="d-flex justify-content-center">
  <div *ngIf="pokemon" class="card" style="max-width: 500px">
    <div class="text-center">
      <div class="card-header">
        <h1 class="text-capitalize">{{ pokemon.name }}</h1>
      </div>

      <div [ngClass]="'bg-type' + pokemon.types[0].type.name">
        <img
          src="{{ pokemon.sprites.other['official-artwork'].front_default }}"
          width="100%"
        />
      </div>
      <div class="card-body">
        <div class="mb-3">
          <span class="fw-bold">Type:</span>
          <span
            *ngFor="let tipo of pokemon.types"
            class="ms-2"
            [ngClass]="'badge bg-type' + tipo.type.name"
            >{{ tipo.type.name }}</span
          >
        </div>
        <div class="card bg-listcolor">
          <div class="card-header fw-bold bg-secondary">Moves</div>
          <table class="table table-sm table-striped table-hover table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="text-capitalize"
                *ngFor="let movedata of pokemon.moves; let i = index"
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>
                  {{ movedata.move.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
